= render 'layouts/notice', notice: notice
h1
  | Authors
= link_to 'New Author', new_author_path, class: 'btn btn-primary float-right'
table.table.table-striped
  thead.thead-dark
    tr
      th
        | Name
      th
        | Bday
      th[colspan="3"]
  tbody
    - @authors.each do |author|
      tr
        td
          = author.name
        td
          = date_from_sql_to_view(author.bday, '%m/%d/%Y')
        td
          = link_to 'Show', author
        td
          = link_to 'Edit', edit_author_path(author)
        td
          = link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }
.float-right
  = will_paginate @authors
